In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as  sbrn
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("../Data/Cleandata.csv")

In [3]:
df

,Unnamed: 0.1,Unnamed: 0,Year,Severity,Start_Lat,Start_Lng,Distance(mi),Street,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Weather_Condition,Traffic_Signal,Sunrise_Sunset,TimeDiff
0,0,2,2016,2,39.063148,-84.032608,0.010,State Route 32,Williamsburg,Clermont,OH,KI69,36.0,33.3,10.0,SW,Overcast,True,Night,30.0
1,1,3,2016,3,39.747753,-84.205582,0.010,I-75 S,Dayton,Montgomery,OH,KDAY,35.1,31.0,9.0,SW,Mostly Cloudy,False,Night,30.0
2,2,4,2016,2,39.627781,-84.188354,0.010,Miamisburg Centerville Rd,Dayton,Montgomery,OH,KMGY,36.0,33.3,6.0,SW,Mostly Cloudy,True,Day,30.0
3,3,5,2016,3,40.100590,-82.925194,0.010,Westerville Rd,Westerville,Franklin,OH,KCMH,37.9,35.5,7.0,SSW,Light Rain,False,Day,30.0
4,4,6,2016,2,39.758274,-84.230507,0.000,N Woodward Ave,Dayton,Montgomery,OH,KDAY,34.0,31.0,7.0,WSW,Overcast,False,Day,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,314280,7652504,2017,2,28.879630,-82.092960,0.722,I-75 S,Wildwood,Sumter,FL,KVVG,80.0,80.0,10.0,VAR,Light Rain with Thunder,False,Day,360.0
314281,314281,7652579,2017,2,37.993881,-92.795869,0.000,Sunny Slope Dr,Camdenton,Camden,MO,KH21,75.0,75.0,10.0,N,Cloudy,False,Day,360.0
314282,314282,7652658,2017,2,46.617235,-113.051251,0.000,US-12 W,Drummond,Granite,MT,K3DU,89.0,89.0,3.0,SSE,Haze,False,Day,360.0
314283,314283,7653119,2017,4,46.672100,-113.153690,9.486,US-12 W,Drummond,Granite,MT,K3DU,57.0,57.0,4.0,CALM,Haze,False,Night,360.0
314284,314284,7653237,2017,3,34.344290,-118.504950,0.430,CA-14 S,Newhall,Los Angeles,CA,K3A6,85.0,85.0,10.0,CALM,Fair,False,Day,360.0

In [4]:
df=df.drop(columns=['Unnamed: 0.1','Unnamed: 0'])

In [5]:
df['Year'] = df['Year']-2016

In [6]:
# df['Year'] = df['Year'] -2016

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314285 entries, 0 to 314284
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               314285 non-null  int64
 1   Severity           314285 non-null  int64
 2   Start_Lat          314285 non-null  float64
 3   Start_Lng          314285 non-null  float64
 4   Distance(mi)       314285 non-null  float64
 5   Street             314285 non-null  object
 6   City               314285 non-null  object
 7   County             314285 non-null  object
 8   State              314285 non-null  object
 9   Airport_Code       314285 non-null  object
 10  Temperature(F)     314285 non-null  float64
 11  Wind_Chill(F)      314285 non-null  float64
 12  Visibility(mi)     314285 non-null  float64
 13  Wind_Direction     314285 non-null  object
 14  Weather_Condition  314285 non-null  object
 15  Traffic_Signal     314285 non-null  bool
 16  Sunrise_Sunset     314285 non-null  object
 17  TimeDiff           314285 non-null  float64
dtypes: bool(1), float64(7), int64(2), object(8)
memory usage: 41.1+ MB

In [8]:
label_encoder = preprocessing.LabelEncoder()
df["Street"] = label_encoder.fit_transform(df["Street"])
df["City"] = label_encoder.fit_transform(df["City"])
df["County"] = label_encoder.fit_transform(df["County"])
df["State"] = label_encoder.fit_transform(df["State"])
df["Airport_Code"] = label_encoder.fit_transform(df["Airport_Code"])
df["Traffic_Signal"] = label_encoder.fit_transform(df["Traffic_Signal"])
df["Sunrise_Sunset"] = label_encoder.fit_transform(df["Sunrise_Sunset"])
df["Weather_Condition"] = label_encoder.fit_transform(df["Weather_Condition"])
df["Wind_Direction"] = label_encoder.fit_transform(df["Wind_Direction"])
df

,Year,Severity,Start_Lat,Start_Lng,Distance(mi),Street,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Weather_Condition,Traffic_Signal,Sunrise_Sunset,TimeDiff
0,0,2,39.063148,-84.032608,0.010,41040,7564,261,33,813,36.0,33.3,10.0,15,57,1,1,30.0
1,0,3,39.747753,-84.205582,0.010,23281,1663,832,33,432,35.1,31.0,9.0,15,54,0,1,30.0
2,0,2,39.627781,-84.188354,0.010,27444,1663,832,33,1052,36.0,33.3,6.0,15,54,1,0,30.0
3,0,3,40.100590,-82.925194,0.010,46765,7468,434,33,351,37.9,35.5,7.0,14,40,0,0,30.0
4,0,2,39.758274,-84.230507,0.000,30356,1663,832,33,432,34.0,31.0,7.0,21,57,0,0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,1,2,28.879630,-82.092960,0.722,23281,7556,1213,8,1684,80.0,80.0,10.0,17,44,0,0,360.0
314281,1,2,37.993881,-92.795869,0.000,41642,940,183,22,731,75.0,75.0,10.0,5,4,0,0,360.0
314282,1,2,46.617235,-113.051251,0.000,43111,1827,487,24,30,89.0,89.0,3.0,13,13,0,0,360.0
314283,1,4,46.672100,-113.153690,9.486,43111,1827,487,24,30,57.0,57.0,4.0,0,13,0,1,360.0
314284,1,3,34.344290,-118.504950,0.430,11847,4792,718,3,29,85.0,85.0,10.0,0,8,0,0,360.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314285 entries, 0 to 314284
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               314285 non-null  int64
 1   Severity           314285 non-null  int64
 2   Start_Lat          314285 non-null  float64
 3   Start_Lng          314285 non-null  float64
 4   Distance(mi)       314285 non-null  float64
 5   Street             314285 non-null  int64
 6   City               314285 non-null  int64
 7   County             314285 non-null  int64
 8   State              314285 non-null  int64
 9   Airport_Code       314285 non-null  int64
 10  Temperature(F)     314285 non-null  float64
 11  Wind_Chill(F)      314285 non-null  float64
 12  Visibility(mi)     314285 non-null  float64
 13  Wind_Direction     314285 non-null  int64
 14  Weather_Condition  314285 non-null  int64
 15  Traffic_Signal     314285 non-null  int64
 16  Sunrise_Sunset     314285 non-null  int64
 17  TimeDiff           314285 non-null  float64
dtypes: float64(7), int64(11)
memory usage: 43.2 MB

In [10]:
df.to_csv("LabelEncoded.csv")

In [11]:
Severity = df['Severity']
Severity

0         2
1         3
2         2
3         3
4         2
         ..
314280    2
314281    2
314282    2
314283    4
314284    3
Name: Severity, Length: 314285, dtype: int64

In [12]:
BaseCheck = (df['Severity']-1)//2
BaseCheck

0         0
1         1
2         0
3         1
4         0
         ..
314280    0
314281    0
314282    0
314283    1
314284    1
Name: Severity, Length: 314285, dtype: int64

In [13]:
data = df.drop(columns='Severity')
y = BaseCheck

In [14]:
data=data.drop(columns=['Street','County','Start_Lat','Start_Lng','City'])

In [15]:
X = StandardScaler().fit_transform(data)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [17]:
def MAE(yTrue,yPred,len): #Calculates the MAE
  #le = np.count_nonzero(yTrue)
  sum = 0
  for i in range(len):
    sum += abs((yTrue[i] - yPred[i])/len)
  if(sum.shape==()):
    return (sum)
  return(sum[0])
def MSE(yTrue,yPred,len): #Calculates the MSE
  # len = np.count_nonzero(yTrue)
  sum = 0
  for i in range(len):
    sum += (abs((yTrue[i] - yPred[i])/len))**2
  if(sum.shape==()):
    return (sum*len)
  return(sum[0]*len)
def RMSE(yTrue,yPred,len): #Calculates the RMSE
  # len = np.count_nonzero(yTrue)
  sum = 0
  for i in range(len):
    sum += (abs((yTrue[i] - yPred[i])/len))**2
  if(sum.shape==()):
    return ((sum*len)**0.5)
  return((sum[0]*len)**0.5)
def AdjustedR2(yTrue,yPred,p,len): #Calculates the Adjusted R2
  R2=r2_score(yTrue,yPred)
  # len = np.count_nonzero(yTrue)
  val = (1-(1-R2*((len-1)/(len-p-1))))
  return val

In [18]:
def PrintAll_(X_test,y_test,X_train,y_train):
    ModelNorm = LogisticRegression()
    ModelNorm.fit(X_train,y_train)
    y_true = y_test.to_numpy()
    y_pred = ModelNorm.predict(X_test)
    y_trueTrain = y_train.to_numpy()
    y_predTrain = ModelNorm.predict(X_train)
    parameters = X_train.shape[1]
    lenTrain = X_train.shape[0]
    lenTest = X_test.shape[0]
    # for i in range(100):
    #     print(y_trueTrain[i],y_predTrain[i])
    print("Training Data :")
    print(f"MAE for training data {MAE(y_trueTrain,y_predTrain,lenTrain)}")
    print(f"MSE for training data {MSE(y_trueTrain,y_predTrain,lenTrain)}")
    print(f"RMSE for training data {RMSE(y_trueTrain,y_predTrain,lenTrain)}")
    print(f"R2 Score for training data {r2_score(y_trueTrain,y_predTrain)}")
    print(f"Adjusted R2 Score for training data {AdjustedR2(y_trueTrain,y_predTrain,parameters,lenTrain)}")
    # acc = accuracy_score(y_test, y_pred)
    print(f"Accuracy_score for training data {accuracy_score(y_trueTrain,y_predTrain)}")
    print("Testing Data :")
    print(f"MAE for testing data {MAE(y_true,y_pred,lenTest)}")
    print(f"MSE for testing data {MSE(y_true,y_pred,lenTest)}")
    print(f"RMSE for testing data {RMSE(y_true,y_pred,lenTest)}")
    print(f"R2 Score for testing data {r2_score(y_true,y_pred)}")
    print(f"Adjusted R2 Score for testing data {AdjustedR2(y_true,y_pred,parameters,lenTest)}")
    print(f"Accuracy_score for testing data {accuracy_score(y_true,y_pred)}")
  # print(AdjustedR2(y_true,y_pred,parameters))
  # parameters

In [19]:
X_test

array([[ 0.85130247,  0.01475585, -1.18595971, ..., -0.4846868 ,
        -0.78965122, -0.01524614],
       [-1.98240524, -0.20466231, -1.02808907, ...,  2.06318801,
        -0.78965122, -0.01307663],
       [ 0.85130247, -0.20953827, -1.02808907, ...,  2.06318801,
        -0.78965122, -0.01414463],
       ...,
       [ 0.85130247,  1.10550789, -1.65957163, ..., -0.4846868 ,
         1.26638189, -0.01526889],
       [ 0.85130247, -0.20953827,  0.55061734, ..., -0.4846868 ,
        -0.78965122, -0.01416857],
       [ 0.85130247, -0.20953827, -0.31767118, ..., -0.4846868 ,
        -0.78965122, -0.01305748]])

In [20]:
PrintAll_(X_test,y_test,X_train,y_train)

Training Data :
MAE for training data 0.3549246702828625
MSE for training data 0.3549246702831269
RMSE for training data 0.5957555457426535
R2 Score for training data -0.5135218460447741
Adjusted R2 Score for training data -0.513546356364972
Accuracy_score for training data 0.6450753297166585
Testing Data :
MAE for testing data 0.35356443991903075
MSE for testing data 0.35356443991902375
RMSE for testing data 0.5946128487671821
R2 Score for testing data -0.5081165878068294
Adjusted R2 Score for testing data -0.5082136121695957
Accuracy_score for testing data 0.6464355600808184

In [21]:
df = pd.read_csv("../Data/Cleandata.csv")

In [22]:
df = df.drop(columns=['Unnamed: 0','Unnamed: 0.1'])
df

,Year,Severity,Start_Lat,Start_Lng,Distance(mi),Street,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Weather_Condition,Traffic_Signal,Sunrise_Sunset,TimeDiff
0,2016,2,39.063148,-84.032608,0.010,State Route 32,Williamsburg,Clermont,OH,KI69,36.0,33.3,10.0,SW,Overcast,True,Night,30.0
1,2016,3,39.747753,-84.205582,0.010,I-75 S,Dayton,Montgomery,OH,KDAY,35.1,31.0,9.0,SW,Mostly Cloudy,False,Night,30.0
2,2016,2,39.627781,-84.188354,0.010,Miamisburg Centerville Rd,Dayton,Montgomery,OH,KMGY,36.0,33.3,6.0,SW,Mostly Cloudy,True,Day,30.0
3,2016,3,40.100590,-82.925194,0.010,Westerville Rd,Westerville,Franklin,OH,KCMH,37.9,35.5,7.0,SSW,Light Rain,False,Day,30.0
4,2016,2,39.758274,-84.230507,0.000,N Woodward Ave,Dayton,Montgomery,OH,KDAY,34.0,31.0,7.0,WSW,Overcast,False,Day,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,2017,2,28.879630,-82.092960,0.722,I-75 S,Wildwood,Sumter,FL,KVVG,80.0,80.0,10.0,VAR,Light Rain with Thunder,False,Day,360.0
314281,2017,2,37.993881,-92.795869,0.000,Sunny Slope Dr,Camdenton,Camden,MO,KH21,75.0,75.0,10.0,N,Cloudy,False,Day,360.0
314282,2017,2,46.617235,-113.051251,0.000,US-12 W,Drummond,Granite,MT,K3DU,89.0,89.0,3.0,SSE,Haze,False,Day,360.0
314283,2017,4,46.672100,-113.153690,9.486,US-12 W,Drummond,Granite,MT,K3DU,57.0,57.0,4.0,CALM,Haze,False,Night,360.0
314284,2017,3,34.344290,-118.504950,0.430,CA-14 S,Newhall,Los Angeles,CA,K3A6,85.0,85.0,10.0,CALM,Fair,False,Day,360.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314285 entries, 0 to 314284
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               314285 non-null  int64
 1   Severity           314285 non-null  int64
 2   Start_Lat          314285 non-null  float64
 3   Start_Lng          314285 non-null  float64
 4   Distance(mi)       314285 non-null  float64
 5   Street             314285 non-null  object
 6   City               314285 non-null  object
 7   County             314285 non-null  object
 8   State              314285 non-null  object
 9   Airport_Code       314285 non-null  object
 10  Temperature(F)     314285 non-null  float64
 11  Wind_Chill(F)      314285 non-null  float64
 12  Visibility(mi)     314285 non-null  float64
 13  Wind_Direction     314285 non-null  object
 14  Weather_Condition  314285 non-null  object
 15  Traffic_Signal     314285 non-null  bool
 16  Sunrise_Sunset     314285 non-null  object
 17  TimeDiff           314285 non-null  float64
dtypes: bool(1), float64(7), int64(2), object(8)
memory usage: 41.1+ MB

In [24]:
#Drop City, Street, 
df = df.drop(columns=['Street','City'])

In [25]:
# x='Weather_Condition'
# x_new='State_new'
# df[x] = df[x].astype('category')
# df[x_new] = df[x].cat.codes

In [26]:
OHE=OneHotEncoder()

In [27]:
# enc_data = pd.DataFrame(OHE.fit_transform(
#     df[[x_new]]).toarray())
# enc_data
# New_df = df.join(enc_data)
# New_df

In [28]:
# OHEdata = pd.get_dummies(df, columns = ['State', 'Airport_Code','Wind_Direction','Weather_Condition','Traffic_Signal','Sunrise_Sunset'])

In [29]:
# OHEdata = OHE.fit_transform(OHEdata)

In [30]:
# OHEdata

In [31]:
data = df

In [32]:
data['State'] = data['State'].astype('category')
data['County'] = data['County'].astype('category')
data['Airport_Code'] = data['Airport_Code'].astype('category')
data['Wind_Direction'] = data['Wind_Direction'].astype('category')
data['Traffic_Signal'] = data['Traffic_Signal'].astype('category')
data['Sunrise_Sunset'] = data['Sunrise_Sunset'].astype('category')

In [33]:
data['State'] = data['State'].cat.codes
data['County'] = data['County'].cat.codes
data['Airport_Code'] = data['Airport_Code'].cat.codes
data['Wind_Direction'] = data['Wind_Direction'].cat.codes
data['Traffic_Signal'] = data['Traffic_Signal'].cat.codes
data['Sunrise_Sunset'] = data['Sunrise_Sunset'].cat.codes
data

,Year,Severity,Start_Lat,Start_Lng,Distance(mi),County,State,Airport_Code,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Weather_Condition,Traffic_Signal,Sunrise_Sunset,TimeDiff
0,2016,2,39.063148,-84.032608,0.010,261,33,813,36.0,33.3,10.0,15,Overcast,1,1,30.0
1,2016,3,39.747753,-84.205582,0.010,832,33,432,35.1,31.0,9.0,15,Mostly Cloudy,0,1,30.0
2,2016,2,39.627781,-84.188354,0.010,832,33,1052,36.0,33.3,6.0,15,Mostly Cloudy,1,0,30.0
3,2016,3,40.100590,-82.925194,0.010,434,33,351,37.9,35.5,7.0,14,Light Rain,0,0,30.0
4,2016,2,39.758274,-84.230507,0.000,832,33,432,34.0,31.0,7.0,21,Overcast,0,0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,2017,2,28.879630,-82.092960,0.722,1213,8,1684,80.0,80.0,10.0,17,Light Rain with Thunder,0,0,360.0
314281,2017,2,37.993881,-92.795869,0.000,183,22,731,75.0,75.0,10.0,5,Cloudy,0,0,360.0
314282,2017,2,46.617235,-113.051251,0.000,487,24,30,89.0,89.0,3.0,13,Haze,0,0,360.0
314283,2017,4,46.672100,-113.153690,9.486,487,24,30,57.0,57.0,4.0,0,Haze,0,1,360.0
314284,2017,3,34.344290,-118.504950,0.430,718,3,29,85.0,85.0,10.0,0,Fair,0,0,360.0

In [34]:
# enc_data = pd.DataFrame(OHE.fit_transform(
#     data[['State','Airport_Code','Wind_Direction','Traffic_Signal','Sunrise_Sunset']]).toarray())
# enc_data

In [35]:
data = data.drop(columns = ['Start_Lat','Start_Lng'])

In [36]:
enc_data = pd.DataFrame(OHE.fit_transform(
    data[['State','Weather_Condition','Wind_Direction','Traffic_Signal','Sunrise_Sunset']]).toarray())
enc_data

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
314284,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [37]:
New_df = data.join(enc_data)
New_df

,Year,Severity,Distance(mi),County,State,Airport_Code,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,...,151,152,153,154,155,156,157,158,159,160
0,2016,2,0.010,261,33,813,36.0,33.3,10.0,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,2016,3,0.010,832,33,432,35.1,31.0,9.0,15,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2016,2,0.010,832,33,1052,36.0,33.3,6.0,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,2016,3,0.010,434,33,351,37.9,35.5,7.0,14,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,2016,2,0.000,832,33,432,34.0,31.0,7.0,21,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,2017,2,0.722,1213,8,1684,80.0,80.0,10.0,17,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314281,2017,2,0.000,183,22,731,75.0,75.0,10.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314282,2017,2,0.000,487,24,30,89.0,89.0,3.0,13,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314283,2017,4,9.486,487,24,30,57.0,57.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
314284,2017,3,0.430,718,3,29,85.0,85.0,10.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [38]:
New_df = New_df.drop(columns=['State','County','Airport_Code','Weather_Condition','Wind_Direction','Traffic_Signal','Sunrise_Sunset'])

In [39]:
New_df

,Year,Severity,Distance(mi),Temperature(F),Wind_Chill(F),Visibility(mi),TimeDiff,0,1,2,...,151,152,153,154,155,156,157,158,159,160
0,2016,2,0.010,36.0,33.3,10.0,30.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,2016,3,0.010,35.1,31.0,9.0,30.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2016,2,0.010,36.0,33.3,6.0,30.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,2016,3,0.010,37.9,35.5,7.0,30.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,2016,2,0.000,34.0,31.0,7.0,30.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314280,2017,2,0.722,80.0,80.0,10.0,360.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314281,2017,2,0.000,75.0,75.0,10.0,360.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314282,2017,2,0.000,89.0,89.0,3.0,360.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
314283,2017,4,9.486,57.0,57.0,4.0,360.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
314284,2017,3,0.430,85.0,85.0,10.0,360.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [40]:
yValOhe = New_df['Severity']
yValOhe

0         2
1         3
2         2
3         3
4         2
         ..
314280    2
314281    2
314282    2
314283    4
314284    3
Name: Severity, Length: 314285, dtype: int64

In [41]:
New_df = New_df.drop(columns=['Severity'])

In [42]:
XValOhe=New_df
XValOhe.columns = XValOhe.columns.astype(str)

In [43]:
X_normOhe = StandardScaler().fit_transform(XValOhe)

In [44]:
BaseCheckOHE = (yValOhe-1)//2
BaseCheckOHE

0         0
1         1
2         0
3         1
4         0
         ..
314280    0
314281    0
314282    0
314283    1
314284    1
Name: Severity, Length: 314285, dtype: int64

In [45]:
X_trainOhe, X_testOhe, y_trainOhe, y_testOhe = train_test_split(X_normOhe,BaseCheckOHE, test_size=0.2, random_state=42)

In [46]:
PrintAll_(X_testOhe, y_testOhe,X_trainOhe, y_trainOhe)

Training Data :
MAE for training data 0.33785417694086045
MSE for training data 0.33785417694116593
RMSE for training data 0.5812522489772972
R2 Score for training data -0.4403202748002262
Adjusted R2 Score for training data -0.4406129337427225
Accuracy_score for training data 0.6621458230586887
Testing Data :
MAE for testing data 0.3367007652288889
MSE for testing data 0.33670076522886605
RMSE for testing data 0.5802592224418893
R2 Score for testing data -0.4378229954345143
Adjusted R2 Score for testing data -0.43898933147811947
Accuracy_score for testing data 0.6632992347709881

In [ ]:
pca25 = PCA(n_components=100)
X_pca25 = pca25.fit_transform(X_normOhe)
# pca25.explained_variance_ratio_ #informs us about the variance distribution
X_trainOhePca25, X_testOhePca25, y_trainOhePca25, y_testOhePca25 = train_test_split(X_pca25, yValOhe, test_size=0.2, random_state=42)
print("PCA for One Hot Encoding taking only 25 major components")
PrintAll_( X_testOhePca25, y_testOhePca25,X_trainOhePca25, y_trainOhePca25 )

In [48]:
# counts = data['State'].value_counts().sum()
# counts

In [49]:
# Top_10_labels = [y for y in df.State.value_counts().sort_values(ascending=False).head(10).index]
# Top_10_labels

In [50]:
# data.State.value_counts().sort_values(ascending=False).head(20)

In [51]:
# data=pd.get_dummies(data['State']).sample(10)

In [52]:
# data